MONGO_URI =mongodb://localhost:27017/hms-ash-backend
FRONTEND_URL = http://localhost:4200
PORT = 5000
NODE_ENV=development
JWT_SECRET = your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN = 15min
BREVO_API_KEY=your-Brevo-api-key
EMAIL_USER=your-email@gmail.com
OWNER_PASS=Owner@123
JWT_PATIENT_SECRET= your-super-secret-jwt-key-change-this-in-production
REFRESH_TOKEN_EXPIRES_DAYS = 7